@model IEnumerable<FuelQuoteApp_p1.EntModels.Models.Quote>

@{
    ViewData["Title"] = "QuoteHistory";
}
<style>
 .title
{
    text-align:center;
    font-family:futura;
    font-weight:bold;
    color:#DA252A;
    
    font-size:50px;
}
#create_new
{
     color:#4d709e;
}

</style>


<h1 class="title">Quote History</h1>

@*<p>
    <a id="create_new" asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GallonsRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerGallon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GallonsRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerGallon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
      @*      <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
    <tr>
        <td>
      <div class="row">
                       <input type="button" class="btn btn-info btn-block" value="Go to Menu" onclick="location.href='@Url.Action("ClientDashBoard", "Client")'" />
                 </div>
                 </td></tr>
</table>